@import "~materialize-css/dist/css/materialize.min.css";

input.white-input {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

input.white-input + label {
    color: #ffffff !important;
}

input.white-input:focus {
    border-bottom: 1px solid #212121 !important;
    box-shadow: 0 1px 0 0 #212121 !important;
}

input.white-input:focus + label {
    color: #212121 !important;
}

.card .card-action {
    border: none;
}